@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Source+Sans+Pro:wght@400&display=swap');
* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
html {
	background-color: hsl(0, 0%, 13%);
	color: White;
	font-size: 16px;
	line-height: 1.4;
	font-family: sans-serif;
}
body {
	width: 90vw;
	max-width: 720px;
	margin: 0 auto;
	padding: 5vh 0;
}
h1 {
	font-family: Nunito, sans-serif;
	font-weight: 800;
	font-size: 2rem;
	color: DarkSeaGreen;
	text-transform: lowercase;
}
a {
	color: DarkSeaGreen;
}
a:hover {
	color: LightGreen;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	margin-bottom: 1rem;
}
.feather {
	height: 15px;
    margin-bottom: -3px;
}