/* webfonts */ 
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../Roboto-Bold.woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../RobotoCondensed-Bold.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
	font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url('../Roboto-Light.woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
	font-style: italic;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../Roboto-LightItalic.woff2');
}

/* wild reset */ 
* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

/* basic styles */ 
html {
	background-color: hsl(0, 0%, 13%);
	color: White;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.25px;
	font-family: 'Roboto Light', sans-serif;
}
body {
	width: 90vw;
	max-width: 720px;
	margin: 0 auto;
	padding: 5vh 0;
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: CornflowerBlue;
	text-transform: uppercase;
}
a {
	color: CornflowerBlue;
}
a:hover {
	color: DeepSkyBlue;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-bottom: 1rem;
}

/* icon glyphs */ 
.feather {
	height: 15px;
  margin-bottom: -3px;
}
